---
import Layout from "../layouts/Layout.astro";
import DocenteCard from "../components/DocenteCard.astro";
import { docentes } from "../data/docentes.js";

---

<Layout>
  <section class="min-h-[calc(70vh)] flex flex-col lg:flex-row items-center justify-center gap-10 py-">
    
    <h1 class="xl:text-8xl sm:text-5xl md:text-6xl font-extrabold tracking-tight leading-none 
               text-center lg:text-left lg:self-center lg:sticky lg:top-10 lg:w-auto">
      PLANTEL DOCENTE
    </h1>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-7 w-full">
      {docentes.map((docente) => (
        <DocenteCard
          name={docente.name}
          subject={docente.subject}
          image={docente.image}
          alt={docente.alt}
          perfil={`/docentes/${docente.slug}`}
        />
      ))}
    </div>
  </section>
</Layout>
